<header class="text-capitalize">
  <nav id="navbar-scroll" class="navbar fixed-top navbar-expand-md navbar-{{headerColor}} scrolling-navbar border-bottom">
    <a class="navbar-brand" href="#">Toma Iliev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item p-2 {{home}}">
          <a class="nav-link" href="#/home">home</a>
        </li>
        <li class="nav-item p-2 {{about}}"><a class="nav-link" href="#/about">about</a></li>
        <li class="nav-item p-2 {{calendar}}"><a class="nav-link" href="#/upcoming">calendar</a></li>

        <li class="nav-item dropdown p-2 {{media}}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            media
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#/gallery">photos</a>
            <a class="dropdown-item" href="#/audio">audio</a>
            <a class="dropdown-item" href="#/video">video</a>
          </div>
        </li>

        <li class="nav-item p-2 {{disco}}"><a class="nav-link" href="#/disco">discography</a></li>
        <li class="nav-item p-2 {{contact}}"><a class="nav-link" href="#/contact">contact</a></li>
      </ul>
    </div>
  </nav>
</header>
