{{>header}}
<div class="container-fluid h-75 bg-image">
      <div class="row h-100">
            <div class="text-center text-white my-auto col-md-4 offset-md-8">
                  <h1>Toma Iliev</h1>
                  <h3>Historical Strings</h3>
            </div>
      </div>
</div>
<div class="container py-5">
      <div class="row">
            <div id="home-bio" class="col-md-8 pr-4">
                  <h3>Bio</h3>
                  <p>{{miniBio}}</p>
                  <a type="button" class="btn btn-dark btn-sm" href="#/about">Continue reading &#187;</a>
            </div>
            <div class="col-md-3 border-left d-md-block">
                  <h3 class="pb-3">Featured recording</h3>
                  <div class="card" style="width: 16rem;">
                        <div class="img-restrain">
                              <a href="{{featuredRec.infoUrl}}" target="_blank">
                                    <img class="card-img-top" src="{{featuredRec.imageUrl}}" alt="Card image cap">
                              </a>
                        </div>
                        <div class="card-body">
                              {{!-- <h5 class="card-title font-italic">{{featured.title}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{featured.groupName}}</h6> --}}
                              <a href="{{featuredRec.cdUrl}}" target="_blank" class="btn btn-dark btn-sm">Buy CD</a>
                              <a type="button" href="#/disco" target="blank"
                                    class="btn btn-dark btn-sm card-link mx-auto">More CDs</a>
                        </div>
                  </div>
            </div>
      </div>
</div>
<div class="container-fluid bg-dark text-white py-5">
      <div class="row">
            <div class="container">
                  <h3 class="pb-3">Upcoming events</h3>
                  <table class="table table-dark table-hover">
                        <thead>
                              <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Event</th>
                                    <th scope="col" class="d-none d-md-table-cell">Location</th>
                                    <th scope="col" class="d-none d-md-table-cell">Venue</th>
                                    <th scope="col">More</th>
                              </tr>
                        </thead>
                        <tbody>
                              {{#each events}}
                              <tr>
                                    <th scope="row"><span>{{this.date}}</span><br /><span>{{this.time}}</span></th>
                                    <td><span
                                                class="font-italic">{{this.eventName}}</span><br /><span>{{this.groupName}}</span>
                                    </td>
                                    <td class="d-none d-md-table-cell">{{this.location}}</td>
                                    <td class="d-none d-md-table-cell">{{this.venue}}</td>
                                    <td>
                                          <a type="button" class="btn btn-light btn-sm" data-toggle="modal"
                                                data-target="#eventModal" data-event-name="{{this.eventName}}"
                                                data-alt="{{this.alt}}" data-map-coordinates="{{this.mapCoordinates}}"
                                                data-group-name="{{this.groupName}}" data-date="{{this.date}}"
                                                data-time="{{this.time}}" data-event-url="{{this.eventUrl}}">
                                                Details
                                          </a>
                                    </td>
                              </tr>
                              {{/each}}
                        </tbody>
                  </table>
                  <a type="button" class="btn btn-light btn-sm" href="#/upcoming">Continue browsing &#187;</a>
            </div>
      </div>
</div>
<div class="container py-5 bg-light">
      <h3>featured media</h3>
      <div class="row py-3">
            {{#if featuredAudio}}
            <div class="col-md-6">
                  <div class="card" style="width: 18rem;">
                        <div class="embed-responsive embed-responsive-16by9">
                              <iframe loading="lazy" scrolling="no" class="card-img-top" frameborder="no"
                                    allow="autoplay" src="{{featuredAudio.audioUrl}}"></iframe>
                              <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                              </div>
                        </div>
                        <div class="card-body">
                              <p class="card-text">{{featuredAudio.title}}</p>
                              <p class="card-text text-secondary">{{featuredAudio.description}}</p>
                        </div>
                  </div>
                  <div style="width: inherit;" class="mx-auto pt-3 pb-5"><a type="button" class="btn btn-dark btn-sm"
                              href="#/audio">Continue listening &#187;</a>
                  </div>
            </div>
            {{else}}
            {{/if}}
            {{#if featuredVideo}}
            <div class="col-md-6">
                  <div class="card" style="width: 18rem;">
                        <div class="embed-responsive embed-responsive-16by9">
                              <iframe loading="lazy" class="card-img-top" src="{{featuredVideo.videoUrl}}"
                                    frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
                              <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                              </div>
                        </div>
                        <div class="card-body">
                              <p class="card-text">{{featuredVideo.title}}</p>
                              <p class="card-text text-secondary">{{featuredVideo.description}}</p>
                        </div>
                  </div>
                  <div style="width: inherit;" class="mx-auto pt-3 pb-5"><a type="button" class="btn btn-dark btn-sm"
                              href="#/video">Continue watching &#187;</a>
                  </div>
            </div>
            {{else}}
            {{/if}}
      </div>
</div>
<!-- Modal -->
{{>modal}}
{{>footer}}