{{>header}}
<div class="h-75 bg-image">
      <div class="py-5"></div>
      <div class="py-5"></div>
      <div class="py-5"></div>

      <div class="container text-center text-white">
            <div class="row align-items-center">
                  <div class="col-lg-4 offset-lg-8">
                        <h1>Toma Iliev</h1>
                        <h3>Historical Strings</h3>
                  </div>
            </div>
      </div>
</div>
<div class="container py-5">
      <div class="row">
            <div id="home-bio" class="col-md-8">
                  <h3>Bio</h3>
                  <p>{{miniBio}}</p>
                  <a href="#/about">Read more</a>
            </div>
            <div class="col-md-3 border-left d-none d-md-block pl-4">
                  <h3 class="pb-3">Latest</h3>
                  <div class="card" style="width: 18rem;">
                        <div class="card-body">
                              <h5 class="card-title">{{latest.groupName}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{latest.eventName}}</h6>
                              <p class="card-text">{{latest.date}}: {{latest.location}}</p>
                              <a href="{{latest.eventUrl}}" class="card-link">More info</a>
                              <a href="#/details{{latest.objectId}}" class="card-link">Buy tickets</a>
                        </div>
                  </div>
            </div>
      </div>
</div>
<div class="container-fluid bg-dark text-white py-5">
      <div class="row">
            <div class="container">
                  <h3 class="pb-3">Upcoming events</h3>
                  <table class="table table-dark table-hover">
                        <thead>
                              <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Event</th>
                                    <th scope="col" class="d-none d-md-table-cell">Location</th>
                                    <th scope="col" class="d-none d-md-table-cell">Venue</th>
                                    <th scope="col">More</th>
                              </tr>
                        </thead>
                        <tbody>
                              {{#each events}}
                              <tr>
                                    <th scope="row"><span>{{this.date}}</span><br /><span>{{this.time}}</span></th>
                                    <td><span>{{this.eventName}}</span><br /><span>{{this.groupName}}</span></td>
                                    <td class="d-none d-md-table-cell">{{this.location}}</td>
                                    <td class="d-none d-md-table-cell">{{this.venue}}</td>
                                    <td>
                                          <a type="button" class="btn btn-light btn-sm col-4" href="{{this.eventUrl}}" target="_blind">Tickets</a>
                                    </td>
                              </tr>
                              {{/each}}
                        </tbody>
                  </table>
                  <a href="#/upcoming">View more</a>
            </div>
      </div>
</div>

{{>footer}}