{{>header}}
<div class="py-5"></div>
<div class="container p-5">
      <h1 class="py-2">Performances</h1>
      <table class="table table-light table-hover">
            <thead class="thead-dark">
                  <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Event</th>
                        <th scope="col">Location</th>
                        <th scope="col" class="d-none d-md-table-cell">Venue</th>
                        <th scope="col" class="d-none d-md-table-cell">Tickets</th>
                        <th scope="col">More</th>

                  </tr>
            </thead>
            <tbody>
                  {{#each events}}
                  <tr>
                        <th scope="row"><span>{{this.date}}</span><br /><span>{{this.time}}</span></th>
                        <td><span class="font-italic">{{this.eventName}}</span><br /><span>{{this.groupName}}</span>
                        </td>
                        <td>{{this.location}}</td>
                        <td class="d-none d-md-table-cell">{{this.venue}}</td>
                        <td class="d-none d-md-table-cell">
                              <a type="button" class="btn btn-dark btn-sm" href="{{this.eventUrl}}"
                                    target="blank">Tickets</a>
                        </td>
                        <td>
                              <a type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#eventModal"
                                    data-event-name="{{this.eventName}}" data-alt="{{this.alt}}"
                                    data-map-coordinates="{{this.mapCoordinates}}" data-group-name="{{this.groupName}}"
                                    data-date="{{this.date}}" data-time="{{this.time}}"
                                    data-event-url="{{this.eventUrl}}">
                                    Details
                              </a>
                        </td>
                  </tr>
                  {{/each}}
            </tbody>
      </table>
      <!-- Modal -->
      {{>modal}} 
</div>
{{>footer}}